@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
html {
  padding-top: 50px;
  font-family: "Open Sans", Helvetica, arial, sans-serif;
  text-align: center;
  background-color: #eeeeee;
}
html *,
html *:before,
html *:after {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}
html i,
html em,
html b,
html strong,
html span {
  transition: none;
}

*:before,
*:after {
  z-index: -1;
}

h1,
h4 {
  font-family: "Raleway", "Open Sans", sans-serif;
  margin: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  line-height: 80px;
  color: black;
}

.centerer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 600px) {
  .wrap {
    width: 50%;
    float: left;
  }
}
[class^=btn-] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 80px;
  max-width: 250px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
}

.btn-0 {
  color: #7f7882;
}
.btn-0:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #3e3a41;
  transform: translateX(-100%);
}
.btn-0:hover {
  color: #d9d7da;
}
.btn-0:hover:before {
  transform: translateX(0);
}

.btn-3:before, .btn-3:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 40px solid #0e584b;
  border-bottom: 40px solid #0e584b;
}
.btn-3:before {
  border-right: 40px solid transparent;
  transform: translateX(-100%);
}
.btn-3:after {
  border-left: 40px solid transparent;
  transform: translateX(100%);
}
.btn-3:hover {
  color: #c5e4df;
}
.btn-3:hover:before {
  transform: translateX(-30%);
}
.btn-3:hover:after {
  transform: translateX(30%);
}

.btn-5 {
  color: #48cf52;
}
.btn-5:after {
  content: "";
  width: 0;
  height: 0;
  -webkit-transform: rotate(360deg);
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent #18771f transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.btn-5:before {
  content: "";
  width: 0;
  height: 0;
  -webkit-transform: rotate(360deg);
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent transparent transparent #18771f;
  position: absolute;
  bottom: 0;
  left: 0;
}
.btn-5:before, .btn-5:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid;
  transform: rotate(360deg);
}
.btn-5:before {
  bottom: 0;
  left: 0;
  border-color: transparent transparent transparent #18771f;
}
.btn-5:after {
  top: 0;
  right: 0;
  border-color: transparent #18771f transparent transparent;
}
.btn-5:hover {
  color: #c9f1cc;
}
.btn-5:hover:before, .btn-5:hover:after {
  border-width: 80px 262.5px;
}

@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

.btn-11 {
  position: relative;
  color: #364db2;
}
.btn-11:before, .btn-11:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #132ea4;
  border-radius: 50%;
}
.btn-11:before {
  left: -20px;
  transform: translate(-50%, -50%);
}
.btn-11:after {
  right: -20px;
  transform: translate(50%, -50%);
}
.btn-11:hover {
  color: #c4cbe8;
}
.btn-11:hover:before {
  -webkit-animation: criss-cross-left 0.8s both;
          animation: criss-cross-left 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.btn-11:hover:after {
  -webkit-animation: criss-cross-right 0.8s both;
          animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

#chat-btn{
  position: absolute;
  left: 0%;
}

#dice-btn{
  position: absolute;
  left: 0%;
  top: 20%;
}

#changeMap-btn{
  position: absolute;
  left: 0%;
  top: 35%;
}

#exit-btn{
  position: absolute;
  left: 0%;
  top: 50%;
}