*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1{
    background: url('../img/castle.jpg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#obstacles{
    display: none;
}

#dadosDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: #ccc;
    padding: 20px;
  }
  #dadosDiv .cerrar {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  #dadosDiv .resultado {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }
  #dadosDiv img {
    display: block;
    margin: 0 auto;
  }

  .overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .dice {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  .result-text {
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .map-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: black;
    font-size: 20px;
  }
  
  .map-overlay img {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  #notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: none;
  }

  #enemyContainer {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 300px;
  height: 700px;
  background-color: white;
  border: 2px solid black;
}

#bokoblinContainer{
  position: inherit;
  top: 25%
}

#stalfosContainer{
  position: inherit;
  top: 50%
}

#setaDarkSoulsContainer{
  position: inherit;
  top: 75%
}

.draggable {
  width: 100px;
  height: 100px;
  color: white;
  text-align: center;
  line-height: 100px;
  position: absolute;
  cursor: move;
}

